html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    height: 100%;
    width: 100%;
    color: white;
    background: black;
    font-size: 50px;
    font-weight: bold;
  }

  .txt {
    justify-content: center;
    align-items: center;
  }

  .total-txt {
    font-size: 200px;
  }
}
